.error-input {
    border: 1px solid red;
}

.shake {
    animation: shake 0.3s linear 0s 3;
}

.input-field {
    width: 100%;
    height: 45px;
    padding: 3px;
    padding-left: 5px;
    margin: 0;
    outline: 5px;
    border-radius: 5px;
    border: 1.5px solid rgb(188, 193, 188);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.input-field::placeholder {}

.input-div {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.input-field:focus {
    outline: 2px solid rgb(184, 172, 172);
}

.error-text {
    color: red;
    font-size: 0.8rem;
    margin-top: 3px;
    padding: 0;
    text-align: end;
}

.display-hidden {
    visibility: hidden;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}